<!-- Intro:start -->
<div id="intro">

	<div class="container">
		<div class="row">
			<div class="col-xs-3">
				<img class="img-responsive tpad" src="images/moveMe.png">
			</div>
			<div class="col-xs-9">
				<h1><span class="texto-claro">Blog</span></h1>
			</div>
		</div>
	</div>
</div>
<!-- Intro:end -->



<!-- contenido:start -->
<div class="container padded">
	<div class="row">
		<div class="col-sm-8 blog">	

			<section>
				<h1><a href="#">Mejores características</a></h1>
				<p class="lead"><a href="#">Infinito</a></p>
				<hr>
				<p><span class="glyphicon glyphicon-time"></span> &nbsp; Post 22 Diciembre de 2015 a las 17:54</p>
				<hr>
				<img class="img-responsive" src="./images/blog1.jpg" alt="">
				<br>
				<p style="text-align:justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores illo nulla alias aliquid quaerat, inventore ab ut, assumenda vel aut molestiae aliquam, voluptatem nesciunt fugiat eius dignissimos quisquam, quos cumque! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus soluta culpa hic magnam harum inventore debitis, dolor possimus praesentium assumenda adipisci amet itaque nostrum, doloribus repellat vero voluptatum eaque, alias!</p>
				<a href="" class="btn btn-small btn-default">Leer más</a>
				<hr><br><br>
			</section>

			<section>
				<h1><a href="#">Mejores características</a></h1>
				<p class="lead"><a href="#">Infinito</a></p>
				<hr>
				<p><span class="glyphicon glyphicon-time"></span> &nbsp; Post 22 Diciembre de 2015 a las 17:54</p>
				<hr>
				<img class="img-responsive" src="./images/blog2.jpg" alt="">
				<br>
				<p style="text-align:justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores illo nulla alias aliquid quaerat, inventore ab ut, assumenda vel aut molestiae aliquam, voluptatem nesciunt fugiat eius dignissimos quisquam, quos cumque! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus soluta culpa hic magnam harum inventore debitis, dolor possimus praesentium assumenda adipisci amet itaque nostrum, doloribus repellat vero voluptatum eaque, alias!</p>
				<a href="" class="btn btn-small btn-default">Leer más</a>
				<hr><br><br>
			</section>

			<section>
				<h1><a href="#">Mejores características</a></h1>
				<p class="lead"><a href="#">Infinito</a></p>
				<hr>
				<p><span class="glyphicon glyphicon-time"></span> &nbsp; Post 22 Diciembre de 2015 a las 17:54</p>
				<hr>
				<img class="img-responsive" src="./images/blog3.jpg" alt="">
				<br>
				<p style="text-align:justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores illo nulla alias aliquid quaerat, inventore ab ut, assumenda vel aut molestiae aliquam, voluptatem nesciunt fugiat eius dignissimos quisquam, quos cumque! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus soluta culpa hic magnam harum inventore debitis, dolor possimus praesentium assumenda adipisci amet itaque nostrum, doloribus repellat vero voluptatum eaque, alias!</p>
				<a href="" class="btn btn-small btn-default">Leer más</a>
				<hr><br><br>
			</section>

				<nav class="text-center">
				  <ul class="pagination">
				    <li>
				      <a href="#" aria-label="Previous">
				        <span aria-hidden="true">&laquo;</span>
				      </a>
				    </li>
				    <li class="active"><a href="#">1</a></li>
				    <li><a href="#">2</a></li>
				    <li><a href="#">3</a></li>
				    <li><a href="#">4</a></li>
				    <li><a href="#">5</a></li>
				    <li>
				      <a href="#" aria-label="Next">
				        <span aria-hidden="true">&raquo;</span>
				      </a>
				    </li>
				  </ul>
				</nav>

		</div>

		<div class="col-sm-4 sidebar">

			<section>
				<h3 class="tpad">buscar</h3>
				<div class="input-group input-group-lg tpad">
					<span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
					<input type="text" class="form-control input-lg" placeholder="buscar">
					<span class="input-group-btn">
						<button class="btn btn-default" type="button">Ir</button>
					</span>
				</div>
			</section>

			<section>
				<div class="input-group input-group-lg tpad">
					<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
					<input type="text" class="form-control input-lg" placeholder="nombre">
				</div>
			</section>

			<section>
				<div class="input-group input-group-lg tpad">
					<input type="text" class="form-control input-lg" placeholder="donación">
					<span class="input-group-addon"><span class="glyphicon glyphicon-eur"></span></span>
				</div>
			</section>

			<section>
				<div class="list-group tpad">
					<a href="#" class="list-group-item"><span class="badge">14</span>Todos</a>
					<a href="#" class="list-group-item"><span class="badge">3</span>Velocidad</a>
					<a href="#" class="list-group-item"><span class="badge">12</span>Ecológico</a>
					<a href="#" class="list-group-item"><span class="badge">23</span>Escena</a>
					<a href="#" class="list-group-item"><span class="badge">5</span>Seguridad</a>
					<a href="#" class="list-group-item"><span class="badge">7</span>Novedades</a>
				</div>
			</section>

			<section>
				<h3 class="tpad">Últimos tweets</h3>
				<div class="media tpad">
					<a href="#" class="pull-left">
						<img src="./images/user.jpg" alt="" class="media-object">
					</a>
					<div class="media-body">
						<h4 class="media-heading">@antonio</h4>
						<p class="bpad">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut nisi modi natus quo aliquam quos rem sed nemo accusantium aut doloribus temporibus cupiditate tenetur est consequuntur animi neque, laudantium dolore?</p>
					</div>
				</div>
			</section>

		</div>
	</div>
</div>
<!-- contenido:end -->



<!-- Marketing:start -->
<div class="marketing">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<img class="img-responsive" src="images/app.png">
			</div>
			<div class="col-sm-6">
				<h3>SIEMPRE A MANO</h3><hr>
				<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae consequuntur, ipsum magnam, necessitatibus dolore qui neque aliquid fugiat nostrum mollitia. Enim, fugiat? Doloribus saepe quae recusandae adipisci et unde, qui.</p>
				<a href="" class="btn btn-small btn-default">Quédatelo</a>
			</div>
		</div>
	</div>
</div>
<!-- Marketing:end -->



<div class="info">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 tabbable">
				<!-- aqui iran tabs -->
				<ul class="nav nav-tabs">
					<li><a class="active" href="#android" data-toggle="tab">Android</a>
					</li>
					<li><a href="#bb" data-toggle="tab">Blackberry</a></li>	
					<li><a href="#ios" data-toggle="tab">iOS</a></li>	
					<li><a href="#win" data-toggle="tab">Windows</a></li>	
				</ul>
				<div class="tab-content">
					<div class="tab-pane fade in active" id="android">
						<p>Android <br>
						<span class="glyphicon glyphicon-star"></span>
						<span class="glyphicon glyphicon-star"></span>
						<span class="glyphicon glyphicon-star"></span>
						<span class="glyphicon glyphicon-star"></span>
						<span class="glyphicon glyphicon-star-empty"></span>

						<img src="http://i.imgur.com/lgCrssn.png" width="200px" class="pull-right" alt=""></p>			
					</div>
					<div class="tab-pane fade in" id="bb">
						<p>Blackberry <img src="http://www.logospike.com/wp-content/uploads/2014/11/Blackberry_logo-9.png" width="200px" class="pull-right" alt=""></p>			
					</div>
					<div class="tab-pane fade in" id="ios">
						<p>iOS <img src="http://www.dumainteractiva.com/media/fotos2/web_608_20151111112056.png" width="200px" class="pull-right" alt=""></p>	
					</div>
					<div class="tab-pane fade in" id="win">
						<p>Windows <img src="https://thecustomizewindows.com/wp-content/uploads/2010/12/MB_0007_windows.png" width="200px" class="pull-right" alt=""></p>			
					</div>
				</div>
			</div>
			<div class="col-sm-4 col-sm-offset-2">
				<blockquote>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt nesciunt repudiandae aperiam libero placeat veritatis, doloremque in illo animi. Delectus impedit obcaecati eveniet nulla nam ducimus incidunt assumenda inventore, nobis.</p>
				<small>Kenny Jee;<cite> me gusta</cite></small>
				</blockquote>
			</div>
		</div>
	</div>
</div>
