<!-- carrousel:start -->

<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target=#"myCarousel" data-slide-to="0" class="active"></li>
    <li data-target=#"myCarousel" data-slide-to="1"></li>
    <li data-target=#"myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">

    <div class="item active">
      <img src="./images/slide1.jpg" alt="">
      <div class="container active">
        <div class="carousel-caption">
        <h1>MUÉVEME</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga harum debitis qui repellat, amet similique possimus tenetur praesentium assumenda laudantium adipisci, incidunt eos pariatur asperiores voluptas eum esse. Eaque.</p>
        <p><a href="" class="btn btn-primary btn-large">entra hoy</a></p>
        </div>
      </div>
    </div>

    <div class="item">
      <img src="./images/slide2.jpg" alt="">
      <div class="container active">
        <div class="carousel-caption">
        <h1>MUÉVEME</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga harum debitis qui repellat, amet similique possimus tenetur praesentium assumenda laudantium adipisci, incidunt eos pariatur asperiores voluptas eum esse. Eaque.</p>
        <p><a href="" class="btn btn-primary btn-large">entra hoy</a></p>
        </div>
      </div>
    </div>

    <div class="item">
      <img src="./images/slide3.jpg" alt="">
      <div class="container active">
        <div class="carousel-caption">
        <h1>MUÉVEME</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga harum debitis qui repellat, amet similique possimus tenetur praesentium assumenda laudantium adipisci, incidunt eos pariatur asperiores voluptas eum esse. Eaque.</p>
        <p><a href="" class="btn btn-primary btn-large">entra hoy</a></p>
        </div>
      </div>
    </div>
  </div>

  <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>

  <a class="right carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-right"></span></a>

</div>

<!-- carrousel:end -->

<!-- Intro:start -->
<div id="intro">

  <div class="container">
    <div class="row">
      <div class="col-xs-3">
        <img class="img-responsive tpad" src="images/moveMe.png">
      </div>
      <div class="col-xs-9">
        <h1><span class="texto-claro">Muevete</span> tu compañía</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. </p>
      </div>
    </div>
  </div>
</div>

<!-- Intro:end -->

<!-- contenido:start -->

<div class="container padded">
  <div class="row">
    <div class="col-lg-12"><h2>CUATRO MODOS</h2><hr></div>
  </div>
  <div class="row">

    <div class="col-sm-6 col-md-3">
      <img src="./images/speed.jpg" alt="" class="img-circle img-responsive center">
      <h3 class="center">Velocidad</h3>
      <p style="text-align:justify; font-size:12px">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo dicta maxime voluptate, totam dignissimos quis autem commodi repudiandae veritatis odio. Deserunt placeat maxime ad modi aperiam, et earum, ipsa quos. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum iste sed animi natus, cumque nesciunt voluptates soluta repudiandae accusamus? Maiores id veritatis libero vel voluptatum sapiente vitae labore harum corrupti?</p>
      <p><a href="" class="btn btn-default"> Ver detalles &raquo;</a></p>
    </div>    

    <div class="col-sm-6 col-md-3">
      <img src="./images/eco.jpg" alt="" class="img-circle img-responsive">
      <h3 class="center">Ecológico</h3>
      <p style="text-align:justify; font-size:12px">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo dicta maxime voluptate, totam dignissimos quis autem commodi repudiandae veritatis odio. Deserunt placeat maxime ad modi aperiam, et earum, ipsa quos.</p>
      <p><a href="" class="btn btn-default"> Ver detalles &raquo;</a></p>
    </div>    
    <div class="clearfix hidden-md hidden-lg"></div>
    <div class="col-sm-6 col-md-3">
      <img src="./images/scenic.jpg" alt="" class="img-circle img-responsive">
      <h3 class="center">Escénico</h3>
      <p style="text-align:justify; font-size:12px">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo dicta maxime voluptate, totam dignissimos quis autem commodi repudiandae veritatis odio. Deserunt placeat maxime ad modi aperiam, et earum, ipsa quos.</p>
      <p><a href="" class="btn btn-default"> Ver detalles &raquo;</a></p>
    </div>
  
    <div class="col-sm-6 col-md-3">
      <img src="./images/safety.jpg" alt="" class="img-circle img-responsive">
      <h3 class="center">Seguridad</h3>
      <p style="text-align:justify; font-size:12px">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo dicta maxime voluptate, totam dignissimos quis autem commodi repudiandae veritatis odio. Deserunt placeat maxime ad modi aperiam, et earum, ipsa quos.</p>
      <p><a href="" class="btn btn-default"> Ver detalles &raquo;</a></p>
    </div>

  </div>
</div>

<!-- contenido:end -->

<!-- Marketing:start -->

<div class="marketing">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <img class="img-responsive" src="images/app.png">
      </div>
      <div class="col-sm-6">
        <h3>SIEMPRE A MANO</h3><hr>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae consequuntur, ipsum magnam, necessitatibus dolore qui neque aliquid fugiat nostrum mollitia. Enim, fugiat? Doloribus saepe quae recusandae adipisci et unde, qui.</p>
        <a href="" class="btn btn-small btn-default">Quédatelo</a>
      </div>
    </div>
  </div>
</div>

<!-- Marketing:end -->

<div class="info">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 tabbable">
        <!-- aqui iran tabs -->
        <ul class="nav nav-tabs">
          <li><a class="active" href="#android" data-toggle="tab">Android</a>
          </li>
          <li><a href="#bb" data-toggle="tab">Blackberry</a></li> 
          <li><a href="#ios" data-toggle="tab">iOS</a></li> 
          <li><a href="#win" data-toggle="tab">Windows</a></li> 
        </ul>
        <div class="tab-content">
          <div class="tab-pane fade in active" id="android">
            <p>Android <br>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>

            <img src="http://i.imgur.com/lgCrssn.png" width="200px" class="pull-right" alt=""></p>      
          </div>
          <div class="tab-pane fade in" id="bb">
            <p>Blackberry <img src="http://www.logospike.com/wp-content/uploads/2014/11/Blackberry_logo-9.png" width="200px" class="pull-right" alt=""></p>     
          </div>
          <div class="tab-pane fade in" id="ios">
            <p>iOS <img src="http://www.dumainteractiva.com/media/fotos2/web_608_20151111112056.png" width="200px" class="pull-right" alt=""></p> 
          </div>
          <div class="tab-pane fade in" id="win">
            <p>Windows <img src="https://thecustomizewindows.com/wp-content/uploads/2010/12/MB_0007_windows.png" width="200px" class="pull-right" alt=""></p>     
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-sm-offset-2">
        <blockquote>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt nesciunt repudiandae aperiam libero placeat veritatis, doloremque in illo animi. Delectus impedit obcaecati eveniet nulla nam ducimus incidunt assumenda inventore, nobis.</p>
        <small>Kenny Jee;<cite> me gusta</cite></small>
        </blockquote>
      </div>
    </div>
  </div>
</div>
